# =============================================================================
# `requirements.txt` installs all dependant packages
# =============================================================================
pip
wheel
setuptools
virtualenv
asyncio
hmac
cryptography
argparse
pypubsub
azure.iot.hub
azure.identity
azure.keyvault.certificates
azure.keyvault.secrets
azure.keyvault.keys
